flow.yml
id: postgres_nyc_taxi
namespace: zoomcamp
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  zone_file: "taxi_zone_lookup.csv"
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"
  zone_lookup_table: "public.taxi_zone_lookup"
  data: "{{outputs.transform.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"
  zone_data: "{{outputs.extract.outputFiles[taxi_zone_lookup.csv]}}"     
  zone_url: "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"


tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"  

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}
      - wget -qO- {{ vars.zone_url }} > {{render(vars.zone_file)}}

  - id: build
    type: io.kestra.plugin.docker.Build
    dockerfile: |
      FROM python:3.10
      RUN pip install --upgrade pip
      RUN pip install -r requirements.txt
    tags:
      - python_image
    
  - id: transform
    type: io.kestra.plugin.scripts.python.Commands    
    inputFiles:
      zone: "{{inputs.taxi}}"
      data_file: "{{ outputs.extract.outputFiles[render(vars.file)] }}"
    outputFiles:
      - "{{inputs.taxi}}_tripdata_transformed.csv"
    namespaceFiles:
      enabled: true    
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: NEVER
    containerImage: "{{ outputs.build.imageId }}"    
    commands:      
      - python etl_pipeline.py data_file zone

  - id: create_zone_lookup_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      CREATE TABLE IF NOT EXISTS taxi_zone_lookup (
          location_id            integer,
          borough                text,
          zone                   text,
          service_zone           text
      );
  
  - id: copy_in_to_zone_lookup_table
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    format: CSV
    from: "{{render(vars.zone_data)}}"
    table: "{{render(vars.zone_lookup_table)}}"
    header: true
    columns: [location_id,borough,zone,service_zone]


  - id: if_yellow_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'yellow'}}"
    then:
      - id: yellow_create_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id          text,
              filename               text,
              vendor_id              integer,
              pickup_datetime        timestamp,
              dropoff_datetime       timestamp,
              passenger_count        integer,
              trip_distance_miles    double precision,
              rate_code_id           integer,
              store_and_forward_flag text,
              pickup_location_id     integer,
              dropoff_location_id    integer,
              payment_type           integer,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              congestion_surcharge   double precision,
              trip_duration_secs     integer
          );

      - id: yellow_create_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
              unique_row_id          text,
              filename               text,
              vendor_id              integer,
              pickup_datetime        timestamp,
              dropoff_datetime       timestamp,
              passenger_count        integer,
              trip_distance_miles    double precision,
              rate_code_id           integer,
              store_and_forward_flag text,
              pickup_location_id     integer,
              dropoff_location_id    integer,
              payment_type           integer,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              congestion_surcharge   double precision,
              trip_duration_secs     integer
          );

      - id: yellow_truncate_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          TRUNCATE TABLE {{render(vars.staging_table)}};

      - id: yellow_copy_in_to_staging_table
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: "{{render(vars.data)}}"
        table: "{{render(vars.staging_table)}}"
        header: true
        columns: [vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance_miles,rate_code_id,store_and_forward_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration_secs]

      - id: yellow_add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET 
            unique_row_id = md5(
              COALESCE(CAST(vendor_id AS text), '') ||
              COALESCE(CAST(pickup_datetime AS text), '') || 
              COALESCE(CAST(dropoff_datetime AS text), '') || 
              COALESCE(pickup_location_id, '') || 
              COALESCE(dropoff_location_id, '') || 
              COALESCE(CAST(fare_amount AS text), '') || 
              COALESCE(CAST(trip_distance_miles AS text), '')      
            ),
            filename = '{{render(vars.file)}}';

      - id: yellow_merge_data
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{render(vars.table)}} AS T
          USING {{render(vars.staging_table)}} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (
              unique_row_id, filename, vendor_id, pickup_datetime, dropoff_datetime,
              passenger_count, trip_distance_miles, rate_code_id, store_and_forward_flag, pickup_location_id,
              dropoff_location_id, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount,
              improvement_surcharge, total_amount, congestion_surcharge, trip_duration_secs
            )
            VALUES (
              S.unique_row_id, S.filename, S.vendor_id, S.pickup_datetime, S.dropoff_datetime,
              S.passenger_count, S.trip_distance_miles, S.rate_code_id, S.store_and_forward_flag, S.pickup_location_id,
              S.dropoff_location_id, S.payment_type, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount,
              S.improvement_surcharge, S.total_amount, S.congestion_surcharge, S.trip_duration_secs
            );

  - id: if_green_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'green'}}"
    then:
      - id: green_create_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id          text,
              filename               text,
              vendor_id              integer,
              pickup_datetime        timestamp,
              dropoff_datetime       timestamp,
              store_and_forward_flag text,
              rate_code_id           integer,
              pickup_location_id     integer,
              dropoff_location_id    integer,
              passenger_count        integer,
              trip_distance_miles    double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision,
              trip_duration_secs     integer
          );

      - id: green_create_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
              unique_row_id          text,
              filename               text,
              vendor_id              integer,
              pickup_datetime        timestamp,
              dropoff_datetime       timestamp,
              store_and_forward_flag text,
              rate_code_id           integer,
              pickup_location_id     integer,
              dropoff_location_id    integer,
              passenger_count        integer,
              trip_distance_miles    double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision,
              trip_duration_secs     integer              
          );

      - id: green_truncate_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          TRUNCATE TABLE {{render(vars.staging_table)}};

      - id: green_copy_in_to_staging_table
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: "{{render(vars.data)}}"
        table: "{{render(vars.staging_table)}}"
        header: true
        columns: [vendor_id,pickup_datetime,dropoff_datetime,store_and_forward_flag,rate_code_id,pickup_location_id,dropoff_location_id,passenger_count,trip_distance_miles,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,trip_duration_secs]

      - id: green_add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET 
            unique_row_id = md5(
              COALESCE(CAST(vendor_id AS text), '') ||
              COALESCE(CAST(pickup_datetime AS text), '') || 
              COALESCE(CAST(dropoff_datetime AS text), '') || 
              COALESCE(pickup_location_id, '') || 
              COALESCE(dropoff_location_id, '') || 
              COALESCE(CAST(fare_amount AS text), '') || 
              COALESCE(CAST(trip_distance_miles AS text), '')      
            ),
            filename = '{{render(vars.file)}}';

      - id: green_merge_data
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{render(vars.table)}} AS T
          USING {{render(vars.staging_table)}} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (
              unique_row_id, filename, vendor_id, pickup_datetime, dropoff_datetime,
              store_and_forward_flag, rate_code_id, pickup_location_id, dropoff_location_id, passenger_count,
              trip_distance_miles, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee,
              improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge, trip_duration_secs
            )
            VALUES (
              S.unique_row_id, S.filename, S.vendor_id, S.pickup_datetime, S.dropoff_datetime,
              S.store_and_forward_flag, S.rate_code_id, S.pickup_location_id, S.dropoff_location_id, S.passenger_count,
              S.trip_distance_miles, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee,
              S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge, S.trip_duration_secs
            );
  
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: This will remove output files. If you'd like to explore Kestra outputs, disable it.

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://kestra_postgres:5432/nyc_taxi
      username: kestra
      password: k3str4